<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:grid="http://typo3.org/ns/SchmidtWebmedia/GridForContainer/ViewHelpers"
	>
	<a href="{editLink.url -> f:format.raw()}" title="{editLink.title}">
		{bodytext -> f:format.nl2br() -> f:format.stripTags()}
	</a>
	<f:if condition="{containerRecord.CType} == 'container'">
		<f:then>
			<strong>{f:translate(key: 'grid.label.container_type', extensionName: 'grid_for_container')}:</strong>
			{grid:grid(type: 'containerLabel', grid_config: '{containerRecord.grid_config}', layout:'{containerRecord.CType}')}
		</f:then>
		<f:else>
			<strong>{f:translate(key: 'grid.label.colratio', extensionName: 'grid_for_container')}:</strong>
			{grid:grid(type: 'colLabel', grid_config: '{containerRecord.grid_config}', layout:'{containerRecord.CType}')}
		</f:else>
	</f:if>

	<f:if condition="{grid}">
		<f:render partial="PageLayout/Grid" arguments="{_all}" />
	</f:if>
</html>
